body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    background-color: rgba(246, 226, 180, 1);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.gambar{
    width: auto;
}

.doraemon{
    max-width: 100%;
    height: auto;
}

.form-register{
    height: auto;
    width: 27rem;
    background: rgba(70, 12, 1, 1);
    color: white;
    padding: 30px;
    border-radius: 30px;
}

.form-register h2{
    text-align: center;
    margin-bottom: 5px;
}

.form{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.form input{
    margin: 8px 0px 8px 0px;
    padding: 10px;
    border-radius: 10px;
}

.reg-button{
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    margin-left: auto;
    background: rgba(2, 117, 216, 1);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.reg-button:hover{
    background: rgba(209, 4, 41, 1);
}