.detail-container{
  width: 60vw;
  height: 50vh;
  display:flex;
  flex-direction: row;
  margin:auto;
  margin-top: 10rem;
  border-radius: 10px;
  background-color: white;
}
.picture img {
  object-fit: cover;
  height: 100%;
  width: 25rem;
  border-radius: 10px 0px 0px 10px;
}
.content{
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.pembelian{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-grow: 1;
  margin-bottom: 2rem;
}
.pembelian .primary-button{
  width: 80%;
  margin: 0;
  float: none;
}

.pembelian .primary-button.buy{
  width: 5rem;
  margin-left: 2rem;
  margin-top: 1.5rem;
  cursor: pointer;
}
.pembelian .primary-button.operation{
  width: 2rem;
  height: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
}
.pembelian .primary-button.data{
  width: 4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
body{
  background-color: rgba(246, 226, 180, 1);
}
.deskripsi{
  font-weight: normal;
}
.data{
  height: 2rem;
  width: 4rem;
  text-align: center;
  padding: 0;
  color: black;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  background-color: none;
  border: none;
  font-size: 1.5rem;
  pointer-events: none;
}

.totalprice{
  width: 10rem;
  font-size: 1.5rem;
}
h2.price{
  margin: 0;
}

.disabled{
  pointer-events: none;
  opacity: 0.6;
}