body{
    margin:0;
    font-family: Roboto, sans-serif;
    background-color: rgba(246, 226, 180, 1);
}

.container{
    margin: ;
    display: flex;
    align-items: center;
    justify-content: space-evenly !important;
}

.gambar{
    width: auto;
}

.doraemon{
    max-width: 100%;
    height: auto;
}

.form-register{
    height: auto;
    width: 27rem;
    background: rgba(70, 12, 1, 1);
    color: white;
    padding: 30px;
    border-radius: 20px;
}

.form-register h2{
    text-align: center;
    margin-bottom: 5px;
}

.form{
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.form input{
    margin: 8px 0px 8px 0px;
    padding: 12px 10px 12px 10px;
    border-radius: 10px;
    border: none;
}

.form label{
    color: red;
    font-size: 0.8rem;
    padding-left: 2px;
}

#info-label {
    color: #f4f4f4;
    font-weight: bold;
}

.hide{
    display: none;
}

.correct{
    outline: #0DCB20 solid 2px;
}

.reg-button{
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    margin-left: auto;
    background: rgba(2, 117, 216, 1);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.reg-button:hover{
    background: rgba(209, 4, 41, 1);
}

.error-msg{
    background: rgba(205, 45, 24, 1);
    position: fixed;
    display:flex;
    align-items:center;
    padding:10px;
    width: 40%;
    justify-content: center;
    margin-top: 2vw;
    margin-left: 30vw;
    border-radius: 20px;
    border: none;
    transition: opacity 1000ms;
}

.hide2{
    opacity: 0;
}

#submit-err{
    color: red;
    font-size: 0.9rem;
    padding-left: 2px;
}